body {
	padding-top: 50px;
}

.thread {
  color: #424242;
  font-size: medium;
  margin: 0px 0px 0px;
  padding: 6px 0px;
  border-bottom: 1px solid #eee;
}

.refresh {
  background: url("/img/refresh.png") no-repeat #F0F0F0;
  background-position: center;
  background-size: 30px;
  height: 45px;
  width: 45px;
  display: block;
  position: fixed;
  right: 5px;
  bottom: 10px;
  margin: 10px;
  border-radius: 5px;
  z-index: 21;
  box-shadow: 0px 1px 1px #5F5E5E;
}

.refresh:hover, .refresh:active, .refresh:focus {
  background-color: #f8f8f8;
}
