body {
	padding-top: 50px;
}

.thread {
  font-size: medium;
  margin: 0px 0px 0px;
  padding: 6px 0px;
  border-bottom: 1px solid #eee;
}

.refresh {
  background: url("/img/refresh.png") no-repeat;
  background-size: 30px;
  height: 30px;
  width: 30px;
  display: block;
  position: fixed;
  right: 20px;
  bottom: 10px;
}
