<html>
  <head>
    <title>{{ title }}</title>
    <meta charset="UTF-8">
    <style>
    li {
      list-style-type: none;
      color: #fff;
    }
    
    li a {
      text-decoration: none;
    }
    
    li a:hover {
      text-decoration: underline;
    }
    </style>
  </head>
  <body>
    <div><span>Updated at: {{ updated_at }}</span></div>
    <ul>
      {% for thread in threads %}
      <li>
        <a target="_blank" href="{{thread.link}}">{{ thread.title}}</span>
      </li>
      {% endfor %}
    </ul>
  </body>
</html>
